Advanced-Objective-Programming/lib/AOP.Sorting.Algorithms/bin/*
Advanced-Objective-Programming/lib/AOP.Sorting.Algorithms/obj/*
Advanced-Objective-Programming/lib/AOP.Sorting.Abstractions/bin/*
Advanced-Objective-Programming/lib/AOP.Sorting.Abstractions/obj/*
Advanced-Objective-Programming/src/AOP.Console/bin/*
Advanced-Objective-Programming/src/AOP.Console/obj/*
Advanced-Objective-Programming/lib/AOP.Sorting.Utils/bin/*
Advanced-Objective-Programming/lib/AOP.Sorting.Utils/obj/*
Advanced-Objective-Programming/lib/AOP.Sorting.Models/bin/*
Advanced-Objective-Programming/lib/AOP.Sorting.Models/obj/*

Parallel-Programming/Task-1/out.*
Parallel-Programming/Task-1/out

Numerical-Methods/Task-1/out.*
Numerical-Methods/Task-1/out

Artificial-Neural-Networks/Samples/Overengineerd-if/model
Numerical-Methods/Task-1/output.txt
Numerical-Methods/Task-2/out.exe
Parallel-Programming/Task-2/.main.cpp.swp
Parallel-Programming/Task-2/out.exe

Optimization-Methods/lib/OM.Models/obj/*
Optimization-Methods/lib/OM.Models/bin/*
Optimization-Methods/src/OM.Console/obj/*
Optimization-Methods/src/OM.Console/bin/*
Optimization-Methods/lib/OM.Algorithms/obj/*
Optimization-Methods/lib/OM.Algorithms/bin/*
Numerical-Methods/Task-3/out.exe
Parallel-Programming/Samples/CriticalSections/out.exe
Optimization-Methods/src/OM.Console/output.json
Optimization-Methods/lib/OM.Utils/bin/*
Optimization-Methods/lib/OM.Utils/obj/*
Numerical-Methods/Task-1/output.txt
Numerical-Methods/Task-4/out.exe
Numerical-Methods/Task-4/main
Numerical-Methods/Task-2/main
Parallel-Programming/Task-3/out.exe
Numerical-Methods/Task-5/main
Numerical-Methods/Task-6/main
Parallel-Programming/Task-4/out.exe
Numerical-Methods/Task-3/main
Numerical-Methods/Task-7/main
