Advanced-Objective-Programming/lib/AOP.Sorting/bin/*
Advanced-Objective-Programming/lib/AOP.Sorting/obj/*
Advanced-Objective-Programming/lib/AOP.Sorting.Abstractions/bin/*
Advanced-Objective-Programming/lib/AOP.Sorting.Abstractions/obj/*
Advanced-Objective-Programming/src/AOP.Console/bin/*
Advanced-Objective-Programming/src/AOP.Console/obj/*

Parallel-Programming/Task-1/out.*
Parallel-Programming/Task-1/out

Numerical-Methods/Task-1/out.*
Numerical-Methods/Task-1/out

Artificial-Neural-Networks/Samples/Overengineerd-if/model
Numerical-Methods/Task-1/output.txt
Numerical-Methods/Task-2/out.exe

Optimization-Methods/lib/OM.Models/obj/*
Optimization-Methods/lib/OM.Models/bin/*
Optimization-Methods/src/OM.Console/obj/*
Optimization-Methods/src/OM.Models/bin/*